In [1]:
import numpy as np
import pandas as pd

import pandas_datareader as pdr

import datetime as dt

import matplotlib.pyplot as plt
import seaborn as sns

/home/mick/anaconda3/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [5]:
# ENTER YOUR SETTINGS HERE
stock_ticker = ['CCL','RCL','NCLH']
start_date = '2015-01-01'
end_date = '2020-12-31'

In [6]:
i=0

In [7]:
# Get the stock dataframe
df = pdr.DataReader(stock_ticker[i], data_source='yahoo', start=start_date, end=end_date)

# Reset the index column
df.reset_index(inplace=True)

df

,Date,High,Low,Open,Close,Volume,Adj Close
0,2015-01-02,46.110001,45.310001,45.910000,45.610001,2769700.0,38.915905
1,2015-01-05,46.200001,45.299999,46.180000,45.389999,4301500.0,38.728199
2,2015-01-06,46.169998,45.020000,45.630001,45.830002,6216100.0,39.103615
3,2015-01-07,46.290001,45.740002,45.889999,46.000000,7102600.0,39.248669
4,2015-01-08,46.970001,46.029999,46.070000,46.680000,4910000.0,39.828869
...,...,...,...,...,...,...,...
1506,2020-12-24,21.080000,20.430000,20.980000,20.840000,14819300.0,20.840000
1507,2020-12-28,22.049999,21.020000,21.309999,21.709999,33112800.0,21.709999
1508,2020-12-29,22.270000,21.360001,22.219999,21.430000,26851200.0,21.430000
1509,2020-12-30,22.090000,21.379999,21.520000,21.790001,23606400.0,21.790001
1510,2020-12-31,21.790001,20.900000,21.620001,21.660000,25679300.0,21.660000

# Scraper

In [36]:
import requests
import urllib.request
import time
import pandas as pd
from bs4 import BeautifulSoup
from lxml import etree
import pickle
import re

In [62]:
# Set the URL for collecting the data.
url = 'https://sec.report/Document/0000884887-21-000006/'
#url = 'https://en.wikipedia.org/wiki/Nike,_Inc.'

page_response = requests.get(url)

# The BeautifulSoup code for the page response
page_soup = BeautifulSoup(page_response.text, 'html.parser')

In [63]:
dom = etree.HTML(str(page_soup))
#dom.xpath('//*[@id="firstHeading"]')[0].text
#dom.xpath('/html/body/div[1]/div/div[3]/div[3]/div/div/div[636]/table/tbody/tr[6]/td[3]/span')
dom.xpath('/html/body/div[1]/div/div[3]/div[3]/div/div/div[636]/table/tbody/tr[6]/td[3]')

[]

In [34]:
revenue_2020 = page_soup.find('div',class_='panel-heading')
#revenue_2020 = page_soup.find('div',class_='addthis_inline_share_toolbox')
revenue_2020

In [31]:
print(revenue_2020)

None